<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="main-nav">
        <a href="{{ url_for('home') }}"> Bienvenida </a>
        <a href="{{ url_for('libros') }}"> Books </a>
        <a href="{{ url_for('espanol') }}"> Cursando DELE</a>
        <a href="{{ url_for('frases') }}"> frases que vi por alli</a>
        <a href="{{ url_for('iremi') }}"> Los poemas</a>
        <a href="{{ url_for('herramientas') }}"> Herramientas mentales </a>
        <a href="{{ url_for('cs') }}"> Computer Science </a>
        <!-- add more links as you create more pages -->
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
