<h1>{{ holas }}</h1>
<p>Add some book:</p>

<form method="POST" action="/books">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <br>
    <button type="submit" 
    <!-- Your comment here onclick="return confirm('Add this book: ' + document.getElementById('title').value +' by '+ document.getElementById('author').value + '?' -->
        onclick= return "Book added">  Add it!</button>
</form>



<button onclick="window.location.href='{{ url_for('home') }}'">
    Go home
</button>