{% extends "base.html" %}
{% block title %}CS{% endblock %}
{% block content %}
    <h1> Some code in Python has been load in GitHub </h1>
  <nav>
    <ul>
      <li>A memory document where I write about these learning processes </li>
        <li>  The code of this page   </li>
        <li>    The code of a webpage that can handle databases with sqlite3 (Book manager) </li>
            <li>    Exercises for basic, intermediate and advanced Ai </li>
    </ul>
  </nav>

<a class="back-link" href="{{ url_for('home') }}">&larr; Go home</a>

{% endblock %}


