<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
</head>
<body>

    <h1>Edit Book</h1>
    <form method="POST">

        <label>Title:</label>
        <input type="text"
               name="title"
               value="{{ book[0] }}"
               required>

        
        <label>Author:</label>
        <input type="text"
               name="author"
               value="{{ book[1] }}"
               required>

        <br><br>

        <button type="submit">Save Changes</button>

    </form>

    <br>

    <a href="{{ url_for('home') }}">Cancel</a>

</body>
</html>
