{% extends "base.html" %}
{% block title %}frases{% endblock %}

{% block content %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>

<div class="essays-container">
    <h1> Algunas frasecitas que quiero recordar... a veces </h1>
    <br>
    <div class="essay">
     <h2>Corrección</h2>
        <div class="date">Mayo 2025</div>
        <p>  Un 'amable' señor me corrigió: "¡No es mansplaining, es man-explaining!" ... Gracias compa :X
        </p>
    </div>
    <div class="essay">
        <h2>Un sermón de lo llanito </h2>
        <div class="date">NCC, Julio 2026</div>      
        <ul>
            <li>Este ni es un sermón, ni es en la montaña, ni siquiera sé porque le llamé así</li>
            <li> Bienaventurados los que se aventuran por la buena porque ellos tendrán buenas aventuras</li>
            <li>Bienaventurados los que no van a las montañas a buscar aventuras, porque las encontrarán
                en lo llanito</li>
            <li>Bienaventurados los que creen que no entienden nada porque son los conscientes</li>
            <li>Bienaventurados los que buscan sin encontrar porque encuentran lo que no buscaban</li>
            <li>Bienaventurados los que son perseguidos por mi causa, porque es un conjunto vacío</li>
            <li>Bienaventurados los que se aventuran en la tierra porosa porque no hay frutos que recoger </li>
            <li>Bienaventurados los que se aventuran porque ellos no tienen tiempo para cansarse</li>
            <li>Bienaventurados los que reciben poco apoyo porque ellos aprenderán a rascarse con sus propias uñas</li>
            <li>Bienaventurados los que tienen que sacar las uñas, se sobre entiende porque (ver la bienaventuraza anterior).</li>
            <li>Bienaventurados los que no alcanzan reconocimiento porque ellos están salvados</li>
            <li>Bienaventurados los que tienen poquitos amigos, por motivos obvios.</li>
        </ul>
    </div>
    <div class="essay">
    
        <h2> Un sermón en una montaña</h2>
        No entiendo el mensaje de Jesús en las Bienaventuranzas. Si considero lo de ofrecer la otra mejilla
        como el planteamiento de un reto, una respuesta totalmente inesperada, desconcertante sin dudas,
        entonces quizá también aquí podría funcionar. Aqui copiaré las Bienaventuranzas y veré si puedo 
        entender aunque sea una. Todas ellas en conjunto parecen ir contra la lógica del capitalismo.
        Alaba a los perseguidos, etcétera, y luego hace promesas que recibirán en el after-life! ¿porqué?
        Él era un carpintero, o al menos el hijo de uno, no era poeta o religioso o rico. En el 
        padre nuestro nos enseña a pedir que el Padre nos libre de todo mal, y en las bienaventuranzas
        menciona cosas que parecieran malas pero que en realidad son una especie de bendiciones.
        Sin pérdida de generalidad, eso quiere decir que lo malo que nos podría pasar son otras 
        cosas, que no son ser perseguidos, ni el sufrimiento de injusticias, ni ser mansos, ni llorar,
        ¡ni ninguna de esas cosas! En cambio caer en tentación SI es malo!

    </div>    
</div>    
{% endblock %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>
