{% extends "base.html" %}
{% block title %}frases{% endblock %}

{% block content %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>

<div class="essays-container">
    <h1> Algunas frasecitas que quiero recordar... a veces </h1>
    <br>
    ¿frasecitas 🍓🍓?
    <div class="essay">
     Corrección
        <div class="date">Mayo 2025</div>
        <p>  Un 'amable' señor me corrigió: "¡No es mansplaining, es man-explaining!" ... Gracias compa :X
        </p>
    </div>

    <div class="essay">    
        El sermón en una montaña
        <div class="date">NCC, Julio 2026</div> 
        No entiendo el mensaje de Jesús en las Bienaventuranzas. Si considero lo de ofrecer la otra mejilla
        como una respuesta totalmente inesperada, desconcertante sin dudas,
        entonces quizá también aquí podría funcionar. Aqui copiaré las Bienaventuranzas y veré si puedo 
        entender aunque sea una. Todas ellas en conjunto parecen ir contra la lógica del bienestar.
        Alaba a los perseguidos, pobres, etcétera, y luego hace promesas que recibirán en el after-life! ¿porqué?
        En el 
        padre nuestro nos enseña a pedir que el Padre nos libre de todo mal, y en las bienaventuranzas
        menciona cosas que parecieran malas pero que en realidad son una especie de bendiciones.
        Quizá eso quiere decir que lo malo que nos podría pasar son otras 
        cosas, que no son ser perseguidos, ni el sufrimiento de injusticias, ni ser mansos, ni llorar,
        ¡ni ninguna de esas cosas! En cambio caer en tentación ¡SI es malo!
    </div>
<div class="essay">
    Budhismo<br>
    El tejido narrativo que enlaza las experiencias, permite o crea la memoria, esa sucesión 
de versiones del yo, o más bien de experiencias, es una necesidad funcional, aparentemente.
Supongo que el budhismo le da una salvación a través de un método para no diluirse.
El tejido narrativo permite la responsabilidad y compromiso, la culpa y el orgullo,
la autobiografía... oh oh.. la culpa ¿porqué la culpa?
<br>
Meditación vipassana: Observar, Sin intervenir, ¡ya entiendo porqué! Para buscar al que observa y no encontrarlo.
Algo que se debería aprender allí es que los pensamientos surgen y se extinguen,
así nomás, tal cual, surgen-extinguen, ¡eso es lo que se aprende! Después 
hay una narrativa que los teje.
Lo experimenté sin buscarlo ni esperarlo aquél día de 2022, solo una vez, aunque diferente porque aquella vez
me pareció que era un estado completamente biológico, simple y sin intención obviamente.

<br> Lo que importa es como las acciones impactan el continuo psicológico: como nos afectan 
y modifican. La identidad no es fija es profundamente dinámica y fluida.

Derek Parfit. Acciones y conductas.
Impermanencia. 
Desestructurante ¡auch!.
Eventos que nacen y mueren.
</div> 


<h2> Si han de exprimirme no será como a una uva, si acaso como a un coco</h2>
<br><div class="essay"> primero tendrían que partirme... y eso va a estar cabrón
</div>

<br><div class="essay">
    <h2> Edit de Sodoma, la mujer que quedó atrapada entre dos realidades</h2>
    <h2> Profesías cumplidas, primero volverse un profeta</h2>
</div>

    <div class="essay">
        <div class="date">agosto 2026</div> 
 Migajas de pura sabiduría coloreadas
     por los pinos, con aroma de mil inciensos, migajas benditas, pero ¿Quién quiere
      migajas? 
    </div>
    <div class="essay">
        <div class="date">agosto 2026</div> 
        No importan sus juicios así que eviten la ola de calor bajo las palmeras, nadie los salvará, 
        no declaren la guerra. Vayan de azul a rayas, es lo mejor que pueden lograr. Algunos seres hielan al 
        alma pero Dios está contigo. La única certeza. Aire transparente, agua, tierra sólida y fuego, Dios.
        ¿incertidumbre? ¡Por supuesto! Incertidumbre cubierta con puntos, algunas manchas profundas y 
        azules, nada más. Aquí siguen nuestras almas, pero la estupidez siempre al acecho, cazándonos como
        la criatura más feroz que haya existido jamás. Tan mortífera y eficiente, pintando todo de plateado,
        tan ácido y metálico, romántico y eterno, pintando todo con efectos contradictorios e incertidumbre, 
        gritando con todas sus fuerzas ¡insensatos!
        ¿Cómo podría yo morir? Dios puede perdonar porque todo le pertenece, o porque no le importa, no seré 
        yo quien Lo cuestione. Yo olvidaré si nada queda adentro o afuera. Aquí está su paz llena de 
        apariencias, las malas imágenes, buen gusto y sueños, ¿y el destino de las gemas 
        verdes y moradas? marchitarse ¿qué más?.
        Mis pensamientos se tornarán ocre y tú serás transparente, errático, espontáneo y fugaz, sí 
        completamente transparente.
        </div>
    
    
{% endblock %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>
