{% extends "base.html" %}
{% block title %}frases{% endblock %}

{% block content %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>

<div class="essays-container">
    <h1> Algunas frasecitas que quiero recordar... a veces </h1>
    <br>
    ¿frasecitas 🍓🍓?
    <div class="essay">
     Corrección
        <div class="date">Mayo 2025</div>
        <p>  Un 'amable' señor me corrigió: "¡No es mansplaining, es man-explaining!" ... Gracias compa :X
        </p>
    </div>
    <div class="essay">
        Un sermón de lo llanito
        <div class="date">NCC, Julio 2026</div> 
            <br> Bienaventurados los que se aventuran por la buena porque ellos tienen buenas aventuras
            <br>Bienaventurados los que no van a las montañas a buscar aventuras, porque las encontrarán
                en lo llanito
            <br>Bienaventurados los que creen que no entienden nada porque son los conscientes
            <br>Bienaventurados los que buscan sin encontrar porque encuentran lo que no buscaban
            <br>Bienaventurados los que se aventuran en la tierra porosa porque no hay frutos que recoger 
            <br>Bienaventurados los que se aventuran porque ellos no tienen tiempo para cansarse
            <br>Bienaventurados los que reciben poco apoyo porque ellos aprenderán a rascarse con sus propias uñas
            <br>Bienaventurados los que no alcanzan reconocimiento porque ellos están salvados
            <br>Bienaventurados los que tienen poquitos amigos, por obvios motivos.
        
    </div>
    <div class="essay">
    
        <h2> El sermón en una montaña</h2>
        No entiendo el mensaje de Jesús en las Bienaventuranzas. Si considero lo de ofrecer la otra mejilla
        como una respuesta totalmente inesperada, desconcertante sin dudas,
        entonces quizá también aquí podría funcionar. Aqui copiaré las Bienaventuranzas y veré si puedo 
        entender aunque sea una. Todas ellas en conjunto parecen ir contra la lógica del bienestar.
        Alaba a los perseguidos, pobres, etcétera, y luego hace promesas que recibirán en el after-life! ¿porqué?
        En el 
        padre nuestro nos enseña a pedir que el Padre nos libre de todo mal, y en las bienaventuranzas
        menciona cosas que parecieran malas pero que en realidad son una especie de bendiciones.
        Quizá eso quiere decir que lo malo que nos podría pasar son otras 
        cosas, que no son ser perseguidos, ni el sufrimiento de injusticias, ni ser mansos, ni llorar,
        ¡ni ninguna de esas cosas! En cambio caer en tentación ¡SI es malo!
    </div>    
</div>
<div class="essay">
    <h2> Budhismo</h2>
    El tejido narrativo que enlaza las experiencias, permite o crea la memoria, esa sucesión 
de versiones del yo, o más bien de experiencias, es una necesidad funcional, aparentemente.
Supongo que el budhismo le da una salvación a través de un método para no diluirse.
El tejido narrativo permite la responsabilidad y compromiso, la culpa y el orgullo,
la autobiografía... oh oh.. la culpa ¿porqué la culpa?
<br>
Meditación vipassana: Observar, Sin intervenir, ¡ya entiendo porqué! Para buscar al que observa y no encontrarlo.
Algo que se debería aprender allí es que los pensamientos surgen y se extinguen,
así nomás, tal cual, surgen-extinguen, ¡eso es lo que se aprende! Después 
hay una narrativa que los teje.
Lo experimenté sin buscarlo ni esperarlo aquél día de 2022, solo una vez, aunque diferente porque aquella vez
me pareció que era un estado completamente biológico, simple y sin intención obviamente.

<br> Lo que importa es como las acciones impactan el continuo psicológico: como nos afectan 
y modifican. La identidad no es fija es profundamente dinámica y fluida.

Derek Parfit. Acciones y conductas.
Impermanencia. 
Desestructurante ¡auch!.
Eventos que nacen y mueren.
</div>
<br>
 
<br><div class="essay"></div>
    <h2> Edit de Sodoma, la mujer de sal</h2>
El destino de Salomé la bailarina
<br><div class="essay"></div>
    <h2> how to become a profet</h2>
    <br><div class="essay"></div>

<h2> Caballo de Troya</h2>
<br><div class="essay"></div>
aceptando "regalos" ...
</div><br>

{% endblock %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>
