{% extends "base.html" %}
{% block title %}Herramientas{% endblock %}

{% block content %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>

<div class="essays-container">
    <h1> Algunas herramientas </h1>
    <br>
    <div class="essay">
     <h2> apenas lo voy armando,  ...</h2>
     <h3>La lengua es un territorio cognitivo que nos hace profundamente humanos ...
        ¿cierto? ... como que no ...</h3>
        <h3>"De lo que no se puede hablar, hay que callar". Ludwig Wittgenstein</h3>
        <h3>Habitar una lengua ...</h3>
         <div class="date">Julio 2026</div>
        lenguaje
        silencio 
        experiencia
        Meditación <br>
        Un yo continuo esencial que recorre el tiempo y cruza toda la vida.

        Impermanencia<br>
    </div>
</div>    
{% endblock %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>
