{% extends "base.html" %}
{% block title %}Herramientas{% endblock %}

{% block content %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>

<div class="essays-container">
    <h1> algunas herramientas mentales</h1>
    <br>
    <div class="essay">

     <h3>Lenguaje y/o silencio</h3>
     Estoy buscando cuáles son las herramientas mentales con que cuento, o no cuento para utilizarlas.
     El lenguaje quizá es una una, pero el silencio también quizá.
    </div>
    <h3>Los métodos de estudio,quizá</h3>
    <h3>Mapas mentales</h3>
    <h3>La meditación</h3>
    <h3>Las matemáticas</h3>
</div>    
{% endblock %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>
