{% extends "base.html" %}
{% block title %}frases{% endblock %}

{% block content %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>

<div class="essays-container">
  <h1> Herramientas para resolver problemas </h1>

  <div class="essay">

    Technologies of the self?<br>


    La dificultad de los procesos no como hechos neutrales, sino como construcciones ideológicas que sirven a fines especóficos ajenos al proceso.</span></p>
    Relación entre mente y contexto adecuada, implica dificultad baja?
    Desajuste del diseño. 
    Estoy buscando
    cuáles son las herramientas mentales con que cuento, o
   no cuento para utilizarlas. El lenguaje quizá es una una, 
   pero el silencio también quizá
 Riesgos calculados, imprevistos. Ninguno de esos sirven
  </div>

  <div class="essay">
    <h2>Religión</h2>
  </div>
  
  <h1> Herramientas para entrenar </h1>
    <div class="essay">
      ¿la mente? o ?
  </div>    
{% endblock %}
<a class="back-link" href="{{ url_for('home') }}">&larr; Ir al inicio</a>
