{% extends "base.html" %}
{% block title %}NCC{% endblock %}

{% block content %}
  <nav>
    <h3> Aqui algunos materiales que a veces uso ...  </h3>
    <ul>
      <li><a href="/"> Bienvenida  :) </a></li>
      <li><a href="/espanol"> Cursando DELE </a></li>
      <li><a href="/frida"> Habla como  </a></li>
      <li><a href="/tools"> Herramientas mentales</a></li>
      <li><a href="/computacion"> Some code is in GutHub </a></li>
      <li><a href="/viajes"> Fotos ... luego </a></li>
    </ul>
    <h3> Nareli Cruz.<br>
       Cualquier comunicación es posible a través del e-mail: elicres@protonmail.com  </h3>

  </nav>
  {% endblock %}