{% extends "base.html" %}
{% block title %}NCC{% endblock %}

{% block content %}
  <nav>
    <h3> Aqui algunos de los materiales que a veces genero y a veces utilizo ...  </h3>
    <ul>
      <li><a href="/"> Bienvenida  :) </a></li>
      <li><a href="/espanol"> Cursando DELE </a></li>
      <li><a href="/frida"> Habla con Frida Khalo </a></li>
      <li><a href="/tools"> Herramientas mentales: occam razor broom engage </a></li>
      <li><a href="/computacion"> Some Ai code is also in GutHub </a></li>
      <li><a href="/viajes"> Viajes con fotos ... luego </a></li>
    </ul>
    <h3> Soy Nareli, cualquier comunicación es posible a través del e-mail: elicres@protonmail.com  </h3>

  </nav>
  {% endblock %}