{% extends "base.html" %}
{% block title %}gramática{% endblock %}
{% block content %}


<div class="essays-container">
        <h2>Métodos de enseñanza de lenguas</h2>
        <h3> impartido por Dra. Élida Sánchez Cruz </h3>
        <a class="back-link" href="{{ url_for('espanol') }}">&larr; Regresar DELE</a>

</div>

<div class="essay">
  <h2> Métodos centrados en el maestro  </h2>
  <div class="date">Agosto 2026</div>
    <h3> Audiolingüal
    </h3>
</div>


<a class="back-link" href="{{ url_for('espanol') }}">&larr; Regresar a DELE</a>


{% endblock %}